@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The 2017/18 season marked the 26th of the Premier League after its formation in 1992.

    After numerous discussions with football authorities, players and television broadcasters, the First Division clubs resigned from the Football League in May 1992 and the Premier League was formed with the inaugural campaign starting on Saturday 15 August of that year.

    Below, each of the 26 seasons has been charted with the story of how the titles were won and the players who starred. From 2011/12's incredible finale, to Arsenal's "Invincibles", as well as each of Manchester United's record 13 triumphs, find out more about the rich history of the Premier League.

</p>
